@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "utils/variables.scss";
@import "components/animations.scss";
@import "base/base.scss";
@import "components/buttons.scss";
@import "components/cards.scss";
@import "layout/footer.scss";
@import "layout/header.scss"; 
@import "pages/home.scss";
@import "pages/menu.scss";
@import "layout/responsive.scss";