@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "utils/functions.scss";
@import "utils/helpers.scss";
@import "utils/mixins.scss";
@import "utils/variables.scss";
@import "base/base.scss";
@import "components/buttons.scss";
@import "components/cards.scss";
@import "components/dropdown.scss";
@import "layout/footer.scss";
@import "layout/grid.scss"; /* delete grid.scss if not used */
@import "layout/header.scss"; 
@import "layout/hero.scss";
@import "pages/home.scss";
@import "pages/menu.scss";