//landing page ------------------------

// landing page tablet

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
    .full-bleed {
        box-shadow: 0 0 0 100vmax #FaFaFa;
        clip-path: inset(0 -100vmax);
    }

    .hero, .running, .restaurants {
        width: 80%;
        margin: 0 auto;
    }

    .running__step::before {
        left: 100px;
    }

    .restaurant__card--new::before {
        top: 40px;
        left: 450px;
    }

    .footer {
        
        display: flex;
        justify-content: center;

        > .container {
            width: 90%;
        }

        &__logo {
            font-size: 1.5rem;
            margin-left: 10%;
        }

        &__links {
            display: flex;
        }

        &__list__element {
            text-align: center;
        }
    }
}

// landing page desktop

@media only screen and (min-width: 1024px) {

    header img {
        width: 30%;
    }

    .running {
        
        &__container {
            width: 1024px;
            margin: 0 auto;
        }

        &__steps {
            display: flex;
            gap: 55px;
            align-items: center;
        }

        &__step {
            width: 33%;
            padding: 10px;
            margin: 5px;
            text-align: center;
            position: relative;

            &:before {
                position: absolute;
                left: -10px;
            }
        }
    }

    .restaurant {

        &__cards {
            display: flex;
        }

        &__card {
            height: auto;
            position: relative;
            
            &--new::after{
                right: 30px;
            }
        }

        &__article {
           width: 95%;
        }

    }

    .footer {
        
        display: flex;
        justify-content: center;

        > .container {
            width: 90%;
        }

        &__logo { //need to center
            font-size: 2rem;
            margin-left: 30px;
        }

        &__links {
            display: flex;
            font-size: 1.2rem;
        }

        &__list__element {
            text-align: center;
        }
    }

}

//menus ------------------------

// menus tablet

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .menu {

        &__title {
            font-size: 2rem;
            margin: 0 auto;
        }

        &__btn {
            font-size: 2rem;
        }

        &__hero {
            height: 280px;
        }
    }

    .starters, .courses, .desserts {
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    } 
    
    .footer {
        > .container {
            padding: 30px 0px;
        }
    }
}

// menus  desktop

@media only screen and (min-width: 1024px) {

    .starters, .courses, .desserts {
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    } 
    
    .menu {

        border-radius: 2rem;

        &__title {
            font-size: 2rem;
            margin: 0 auto;
        }

        &__btn {
            font-size: 2rem;
        }

        &__hero {
           height: 450px;
           overflow: hidden;

           &--french {
            object-position: 0 -500px;
           }

           &--enchanted {
            object-position: 0 -400px;
           }

           &--senses {
            object-position: 0 -550px;
           }

           &--taste {
            object-position: 0 -500px;
           }
        }
    }
}
