@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.easeIn {
  -webkit-animation: easeIn 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: easeIn 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes easeIn {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes easeIn {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.menus article:nth-child(1n) {
  animation-delay: 0.5s;
}

.menus article:nth-child(2n) {
  animation-delay: 1s;
}

.menus article:nth-child(3n) {
  animation-delay: 1.5s;
}

.menus article:nth-child(4n) {
  animation-delay: 2s;
}

.menus article:nth-child(5n) {
  animation-delay: 2.5s;
}

.menus article:nth-child(6n) {
  animation-delay: 3s;
}

.menus article:nth-child(7n) {
  animation-delay: 3.5s;
}

.menus article:nth-child(8n) {
  animation-delay: 4s;
}

.menus article:nth-child(9n) {
  animation-delay: 4.5s;
}

.menus article:nth-child(10n) {
  animation-delay: 5s;
}

@keyframes slideLeft {
  0% {
    display: none;
  }
  100% {
    display: flex;
    margin: 0;
  }
}
.rotateLeft {
  -webkit-animation: rotateLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotateLeft 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes fillIn {
  0% {
    opacity: 0.1;
    -webkit-text-stroke-width: 0.2px;
  }
  100% {
    opacity: 1;
    -webkit-text-stroke-width: 0px;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cssload-container * {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cssload-container {
  margin: 28px auto 0 auto;
  max-width: 769px;
}

.cssload-container ul li {
  list-style: none;
}

.cssload-flex-container {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -o-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-wrap: wrap;
  -o-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  justify-content: space-around;
}

.cssload-flex-container li {
  padding: 14px;
  height: 138px;
  width: 138px;
  margin: 41px 28px;
  position: relative;
  text-align: center;
}

.cssload-loading {
  display: inline-block;
  position: relative;
  width: 117px;
  height: 117px;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 7px solid transparent;
  border-bottom: 7px solid rgba(146, 86, 220, 0.98);
  border-left: 7px solid rgb(146, 86, 220);
  animation: cssload-spinR 2.3s linear infinite;
  -o-animation: cssload-spinR 2.3s linear infinite;
  -ms-animation: cssload-spinR 2.3s linear infinite;
  -webkit-animation: cssload-spinR 2.3s linear infinite;
  -moz-animation: cssload-spinR 2.3s linear infinite;
}

.cssload-loading:before, .cssload-loading:after {
  content: "";
  display: block;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  position: absolute;
}

.cssload-loading:before {
  height: 69px;
  width: 69px;
  border: 4px solid transparent;
  border-top: 4px solid rgb(15, 247, 158);
  border-right: 4px solid rgb(15, 247, 158);
  animation: cssload-spinL 0.86s linear infinite;
  -o-animation: cssload-spinL 0.86s linear infinite;
  -ms-animation: cssload-spinL 0.86s linear infinite;
  -webkit-animation: cssload-spinL 0.86s linear infinite;
  -moz-animation: cssload-spinL 0.86s linear infinite;
  transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  top: 11%;
  left: 11%;
}

.cssload-loading:after {
  height: 14px;
  width: 14px;
  background: transparent;
  border: 3px solid rgb(153, 226, 208);
  top: 35.5%;
  left: 35.5%;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes cssload-spinR {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes cssload-spinR {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes cssload-spinR {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-webkit-keyframes cssload-spinR {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes cssload-spinR {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes cssload-spinL {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-o-keyframes cssload-spinL {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(-360deg);
  }
}
@-ms-keyframes cssload-spinL {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}
@-webkit-keyframes cssload-spinL {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes cssload-spinL {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

* {
  font-family: "roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
}

.hero__btn, .commandBtn {
  padding: 14px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(355deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.hero__btn:hover, .commandBtn:hover {
  transition: 0.5s;
  filter: brightness(110%);
  box-shadow: 0.35rem 0.35rem 12px rgba(0, 0, 0, 0.45);
}

.commandBtn__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.commandBtn {
  width: 50%;
  margin-bottom: 50px;
  border: white;
}

.restaurant__card {
  text-decoration: none;
  color: black;
  height: 500px;
  position: relative;
}
.restaurant__card__span {
  background-color: #99E2D0;
  color: rgb(11, 100, 11);
  padding: 10px;
  border-radius: 4px;
  font-weight: 600;
}
.restaurant__card__btn {
  text-align: right;
  width: 15%;
  font-size: 1.8rem;
}
.restaurant__card__details {
  padding: 10px;
  display: flex;
  align-items: center;
}
.restaurant__card--new::after {
  position: absolute;
  top: 10px;
  right: 20px;
  content: "Nouveau";
  padding: 0.5rem;
  border-radius: 4px;
  width: 70px;
  background: #99E2D0;
  color: rgb(25, 126, 64);
  text-align: center;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  font-weight: 600;
}

.restaurant__article {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.restaurant__article img {
  border-radius: 15px 15px 0 0;
  height: 250px;
  object-fit: cover;
  text-align: center;
}

.restaurant__title {
  font-weight: bold;
  font-weight: 700;
}

.like {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  color: transparent;
}
.like--active, .like:hover {
  color: purple;
  -webkit-text-stroke-width: 0;
  background: -webkit-linear-gradient(rgb(165, 25, 207), rgb(253, 162, 246));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fillIn 1s;
}

.flex {
  display: flex;
}

.footer {
  background-color: rgb(83, 83, 83);
  color: white;
}
.footer > .container {
  padding: 30px;
}
.footer__logo {
  font-weight: bold;
  font-weight: 300;
  font-family: "Shrikhand", "cursive";
}
.footer__links {
  margin-top: 20px;
}
.footer__list__element {
  margin-bottom: 10px;
}
.footer__list__element i {
  margin-right: 10px;
  display: inline;
}
.footer__list__element .fixin {
  margin-right: 14px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-family: roboto;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
header a {
  align-self: center;
  text-align: center;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  width: 35px;
  position: absolute;
  left: 1rem;
}
header h1 {
  margin-top: 1rem;
  width: fit-content;
  text-align: center;
}
header h1 img {
  width: 80%;
}

.menu__header__container {
  display: flex;
  padding: 15px 0;
  justify-content: center;
}
.menu__header__container h1 {
  width: 15rem;
  align-self: flex-start;
}

body {
  display: block;
}

main {
  display: block;
}

.localisation {
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25) inset;
  text-align: center;
}
.localisation i {
  display: inline;
  margin: 5px;
}

.hero {
  padding: 32px;
  text-align: center;
  background-color: #FaFaFa;
}
.hero h2 {
  font-size: 2rem;
  font-weight: bold;
}
.hero p {
  margin: 1.7rem 0;
}

.running {
  padding: 20px;
}
.running__title {
  font-size: 1.7rem;
  font-weight: bold;
  font-weight: 800;
  margin: 0;
}
.running__steps {
  margin: 0;
  padding: 0;
}
.running__step {
  width: 95%;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  counter-increment: compteListe 1;
}
.running__step:before {
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 20px;
}
.running__step:hover {
  background-color: #e4d5f6;
  box-shadow: 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.13);
}
.running__step:hover i {
  color: #9356DC;
}
.running__step__text {
  font-weight: 700;
}
.running ol {
  list-style: none;
}
.running i {
  display: inline;
  color: #7E7E7E;
  margin-right: 0.5rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 15px 0;
}
.restaurants .container {
  width: 90%;
  margin: 0 auto;
}
.restaurants__title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 15px 0;
  font-weight: 800;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

.starters, .courses, .desserts {
  padding: 15px;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-weight: 500;
  font-size: 1.8rem;
  width: 80%;
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  width: 10%;
  cursor: pointer;
}
.menu__subtitle {
  text-transform: uppercase;
}
.menu__subtitle:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.25rem;
  background-color: #99E2D0;
  margin: 2px 0 20px 0;
}
.menu__item {
  background-color: white;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.menu__item:hover {
  transition: 3s ease;
}
.menu__item:hover .menu__item__validation {
  display: flex;
  animation: slideLeft 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.menu__item:hover .menu__item__icon {
  transform: rotate(0deg);
}
.menu__item__header {
  box-shadow: none;
  width: 80%;
  display: inline;
  line-height: 1.5rem;
  padding: 1rem;
  min-width: 0;
}
.menu__item__title {
  font-weight: bold;
  font-weight: 700;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__item__subtext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__item__price {
  width: 20%;
  font-weight: 500;
  align-self: flex-end;
  text-align: right;
  padding: 1rem;
}
.menu__item__validation {
  background-color: #99E2D0;
  margin: 0 -5rem 0 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  display: none;
  border-radius: 0 0.75rem 0.75rem 0;
  text-align: center;
}
.menu__item__icon {
  font-size: 1.5rem;
  color: white;
  transform: rotate(90deg);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .full-bleed {
    box-shadow: 0 0 0 100vmax #FaFaFa;
    clip-path: inset(0 -100vmax);
  }
  .hero, .running, .restaurants {
    width: 80%;
    margin: 0 auto;
  }
  .running__step::before {
    left: 100px;
  }
  .restaurant__card--new::before {
    top: 40px;
    left: 450px;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer > .container {
    width: 90%;
  }
  .footer__logo {
    font-size: 1.5rem;
    margin-left: 10%;
  }
  .footer__links {
    display: flex;
  }
  .footer__list__element {
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  header img {
    width: 30%;
  }
  .running__container {
    width: 1024px;
    margin: 0 auto;
  }
  .running__steps {
    display: flex;
    gap: 55px;
    align-items: center;
  }
  .running__step {
    width: 33%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    position: relative;
  }
  .running__step:before {
    position: absolute;
    left: -10px;
  }
  .restaurant__cards {
    display: flex;
  }
  .restaurant__card {
    height: auto;
    position: relative;
  }
  .restaurant__card--new::after {
    right: 30px;
  }
  .restaurant__article {
    width: 95%;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer > .container {
    width: 90%;
  }
  .footer__logo {
    font-size: 2rem;
    margin-left: 30px;
  }
  .footer__links {
    display: flex;
    font-size: 1.2rem;
  }
  .footer__list__element {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .menu__title {
    font-size: 2rem;
    margin: 0 auto;
  }
  .menu__btn {
    font-size: 2rem;
  }
  .menu__hero {
    height: 280px;
  }
  .starters, .courses, .desserts {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .footer > .container {
    padding: 30px 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .starters, .courses, .desserts {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .menu {
    border-radius: 2rem;
  }
  .menu__title {
    font-size: 2rem;
    margin: 0 auto;
  }
  .menu__btn {
    font-size: 2rem;
  }
  .menu__hero {
    height: 450px;
    overflow: hidden;
  }
  .menu__hero--french {
    object-position: 0 -500px;
  }
  .menu__hero--enchanted {
    object-position: 0 -400px;
  }
  .menu__hero--senses {
    object-position: 0 -550px;
  }
  .menu__hero--taste {
    object-position: 0 -500px;
  }
}

/*# sourceMappingURL=style.css.map */
