@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

* {
  font-family: "roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
}

.hero__btn, .commandBtn {
  padding: 14px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(355deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.commandBtn__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.commandBtn {
  width: 50%;
  margin-bottom: 50px;
  border: white;
}

.restaurant__card {
  text-decoration: none;
  color: black;
  height: 500px;
  /*&__span {
      background-color: rgb(176, 226, 195);
      color: rgb(11, 100, 11);
      padding: 10px;
  }*/
}
.restaurant__card__btn {
  text-align: right;
  width: 10%;
  font-size: 1.8rem;
}
.restaurant__card__details {
  padding: 10px;
  display: flex;
  align-items: center;
}
.restaurant__card--new::before {
  position: relative;
  content: "Nouveau";
  top: 30px;
  left: 280px;
  padding: 0.5rem;
  width: 10rem;
  background: #99E2D0;
  color: rgb(25, 126, 64);
  text-align: center;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  font-weight: 600;
}

.restaurant__article {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
}
.restaurant__article img {
  border-radius: 15px 15px 0 0;
  height: 250px;
  object-fit: cover;
  text-align: center;
}

.restaurant__title {
  font-size: bold;
  font-weight: 700;
}

.like {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  color: transparent;
}
.like--active, .like:hover {
  color: red;
  -webkit-text-stroke-width: 0;
  cursor: all-scroll;
}

.flex {
  display: flex;
}

.footer {
  background-color: rgb(83, 83, 83);
  color: white;
}
.footer > .container {
  padding: 30px;
}
.footer__logo {
  font-size: bold;
  font-weight: 300;
  font-family: "Shrikhand", "cursive";
}
.footer__links {
  margin-top: 20px;
}
.footer__list__element {
  margin-bottom: 10px;
}
.footer__list__element i {
  margin-right: 10px;
  display: inline;
}
.footer__list__element .didier {
  margin-right: 14px;
}
.footer a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
header > img {
  padding: 1rem;
  width: 80%;
}

.menu__header__container {
  display: flex;
  padding: 15px 0;
}
.menu__header__container a {
  align-self: center;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
  width: 20%;
  text-align: center;
}
.menu__header__container img {
  width: 15rem;
  text-align: left;
}

body {
  display: block;
}

main {
  display: block;
}

.localisation {
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25) inset;
  text-align: center;
}
.localisation i {
  display: inline;
  margin: 5px;
}

.hero {
  padding: 32px;
  text-align: center;
  background-color: #FaFaFa;
}
.hero h2 {
  font-size: 2rem;
  font-weight: bold;
}
.hero p {
  margin: 1.7rem 0;
}

.running {
  padding: 20px;
}
.running__title {
  font-size: 1.7rem;
  font-weight: bold;
  font-weight: 800;
  margin: 0;
}
.running__steps {
  margin: 0;
  padding: 0;
}
.running__step {
  width: 95%;
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  counter-increment: compteListe 1;
}
.running__step:before {
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 20px;
}
.running__step:hover {
  /*background-color: rgb(243, 208, 243);*/
  background-color: #e4d5f6;
  box-shadow: 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.13);
}
.running__step:hover i {
  color: #9356DC;
}
.running__step__text {
  font-weight: 700;
}
.running ol {
  list-style: none;
}
.running i {
  display: inline;
  color: #7E7E7E;
  margin-right: 0.5rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 15px 0;
}
.restaurants .container {
  width: 90%;
  margin: 0 auto;
}
.restaurants__title {
  font-size: 1.7rem;
  font-weight: bold;
  margin: 15px 0;
  font-weight: 800;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

.starters, .courses, .desserts {
  padding: 15px;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-weight: 500;
  font-size: 1.8rem;
  width: 80%;
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  width: 10%;
}
.menu__subtitle {
  text-transform: uppercase;
}
.menu__subtitle:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.25rem;
  background-color: green;
  margin: 2px 0 20px 0;
}
.menu__item {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  max-width: 100%;
  /* animation: */
}
.menu__item__header {
  box-shadow: none;
  width: 80%;
  display: inline;
  line-height: 1.5rem;
}
.menu__item__title {
  font-style: bold;
  font-weight: 700;
  font-size: 1.1rem;
}
.menu__item__price {
  width: 20%;
  font-style: bold;
  font-weight: 500;
  align-self: flex-end;
}
.menu__item__validation {
  visibility: collapse;
  width: 0px;
  display: flex;
  align-self: center;
}

@media only screen and (min-width: 768px) {
  .full-bleed {
    box-shadow: 0 0 0 100vmax #FaFaFa;
    clip-path: inset(0 -100vmax);
  }
  .hero, .running, .restaurants {
    width: 80%;
    margin: 0 auto;
  }
  .running__step::before {
    left: 100px;
  }
  .restaurant__card--new::before {
    top: 40px;
    left: 450px;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer > .container {
    width: 90%;
  }
  .footer__logo {
    font-size: 1.5rem;
    margin-left: 10%;
  }
  .footer__links {
    display: flex;
  }
  .footer__list__element {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
