// Ease In  courses

.easeIn {
  -webkit-animation: easeIn 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: easeIn 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes easeIn {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes easeIn {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@for $i from 1 through 10 {
  .menus article:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.5}s;
  }
}

// validation ------------------------------------------

// slide-left --------------
@keyframes slideLeft {
  0% {
    display: none;
  }

  100% {
    display: flex;
    margin: 0;
  }
}

//rotate-left ---------------

.rotateLeft {
	-webkit-animation: rotateLeft 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotateLeft 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

// like fill-in ------------------------------------------

@keyframes fillIn {
  0% {
    opacity: 0.1;
    -webkit-text-stroke-width: 0.2px;
  }

  100% {
    opacity: 1;
    -webkit-text-stroke-width: 0px;
  }
}

// loader ------------------------------------------

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
} 

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display:flex;
  align-items:center;
  justify-content:center;
}

.cssload-container * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}
.cssload-container {
	margin: 28px auto 0 auto;
	max-width: 769px;
}

.cssload-container ul li{
	list-style: none;
}

.cssload-flex-container {
	display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-direction: row;
		-o-flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
	flex-wrap: wrap;
		-o-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
	justify-content: space-around;
}
.cssload-flex-container li {
	padding: 14px;
	height: 138px;
	width: 138px;
	margin: 41px 28px;
	position: relative;
	text-align: center;
}

.cssload-loading {
	display: inline-block;
	position: relative;
	width: 117px;
	height: 117px;
	border-radius: 100%;
		-o-border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
	border: 7px solid transparent;
	border-bottom: 7px solid rgba(146,86,220,0.98);
	border-left: 7px solid rgb(146,86,220);
	animation: cssload-spinR 2.3s linear infinite;
		-o-animation: cssload-spinR 2.3s linear infinite;
		-ms-animation: cssload-spinR 2.3s linear infinite;
		-webkit-animation: cssload-spinR 2.3s linear infinite;
		-moz-animation: cssload-spinR 2.3s linear infinite;
}
.cssload-loading:before, .cssload-loading:after {
	content: '';
	display: block;
	border-radius: 100%;
		-o-border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
	position: absolute;
}
.cssload-loading:before {
	height: 69px;
	width: 69px;
	border: 4px solid transparent;
	border-top: 4px solid rgb(15,247,158);
	border-right: 4px solid rgb(15,247,158);
	animation: cssload-spinL 0.86s linear infinite;
		-o-animation: cssload-spinL 0.86s linear infinite;
		-ms-animation: cssload-spinL 0.86s linear infinite;
		-webkit-animation: cssload-spinL 0.86s linear infinite;
		-moz-animation: cssload-spinL 0.86s linear infinite;
	transform-origin: center center;
		-o-transform-origin: center center;
		-ms-transform-origin: center center;
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
	top: 11%;
	left: 11%;
}
.cssload-loading:after {
	height: 14px;
	width: 14px;
	background: transparent;
	border: 3px solid rgb(153,226,208);
	top: 35.5%;
	left: 35.5%;
}




@keyframes cssload-spinR {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spinR {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spinR {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spinR {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spinR {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

@keyframes cssload-spinL {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@-o-keyframes cssload-spinL {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(-360deg);
	}
}

@-ms-keyframes cssload-spinL {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(-360deg);
	}
}

@-webkit-keyframes cssload-spinL {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
	}
}

@-moz-keyframes cssload-spinL {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(-360deg);
	}
}