.hero__btn, .commandBtn {
    padding: 14px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: white;
    background-color: #686868;
    background-image: linear-gradient(355deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}

.commandBtn__container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.commandBtn {
    width: 50%;
    margin-bottom: 50px;
    border: white;
}