

.restaurant__card  {
    text-decoration: none;
    color: black;
    height: 500px;
    position: relative;
    

    &__span {
        background-color: $color-tertiary;
        color: rgb(11, 100, 11);
        padding: 10px;
        border-radius: 4px;
        font-weight: 600;
    }
    &__btn {
        text-align: right;
        width: 10%;
        font-size: 1.8rem;
    }

    &__details {
        padding: 10px;
        display: flex;
        align-items: center;
    }
    
    &--new {
        &::after{
            position: absolute;
            top: 10px;
            right: 20px;
            content: 'Nouveau';
            padding: 0.5rem;
            border-radius: 4px;
            width: 70px;
            background: $color-tertiary;
            color: rgb(25, 126, 64);
            text-align: center;
            box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
            font-weight: 600;
          }
    }
}

.restaurant__article {
    
    background-color: white;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);

    & img {
        border-radius: 15px 15px 0 0;
        height: 250px;
        object-fit: cover;
        text-align: center;
    }
} 

.restaurant {
    &__title {
        font-size: bold;
        font-weight: 700;
    }
}

.like {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #666;
    color: transparent;
    

    &--active, &:hover {
        color: purple;
        -webkit-text-stroke-width: 0;
        background: -webkit-linear-gradient(rgb(165, 25, 207), rgb(253, 162, 246));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}