body {
    display: block;
}

main {
    display: block;
}

.localisation {
    padding: 1.25rem 1rem;
    background-color: $color-localisation;
    font-size: 1.2rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%) inset;
    text-align: center;

    & i {
        display: inline;
        margin: 5px;
    }
}

.hero {
    padding: 32px;
    text-align: center;
    background-color: $color-hero;

    & h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    & p {
        margin: 1.7rem 0;
    }
}

.running {
    padding: 20px;
    
    &__title {
        font-size: 1.7rem;
        font-weight: bold;
        font-weight: 800;
        margin: 0;
    }

    &__steps {
        margin: 0;
        padding: 0;   
    }

    &__step {
        width: 95%;
        padding: 1.5rem;
        margin: 1rem 0 1rem 0.75rem;
        box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
        border-radius: 1.25rem;
        background-color: $color-quaternary;
        counter-increment: compteListe 1;

        &:before {
            content: counter(compteListe) " ";
            background: $color-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: 20px;
        }

        &:hover {
            /*background-color: rgb(243, 208, 243);*/
            background-color: lighten($color: $color-primary, $amount: 30%);
            box-shadow: 0.75rem 0.75rem 0.75rem rgb(0 0 0 / 13%);

            & i {
                color: $color-primary;
            }
        }

        &__text {
            font-weight: 700;
        }
    }

    & ol {
        list-style: none;
    }

    & i {
        display: inline;
        color: #7E7E7E;
        margin-right: 0.5rem;
    }
}

.restaurants {
    background-color: $color-quaternary;
    padding: 15px 0;

    & .container {
        width: 90%;
        margin: 0 auto;
    }

    &__title {
        font-size: 1.7rem;
        font-weight: bold;
        margin: 15px 0;
        font-weight: 800;
    }
}