* {
    box-sizing: border-box;
    font-family: "Roboto";
}

.starters, .courses, .desserts {
    padding: 15px;
}

.menu {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
  
    &__header {
      padding: 1rem 2rem 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__title {
        font-weight: 500;
        font-size: 1.8rem;
        width: 80%;
        font-family: "Shrikhand", "cursive";
    }

    &__btn {
        width: 10%;
    }

    &__subtitle {
        text-transform: uppercase;

        &:after {
            content: "";
            display: block;
            width: 2.5rem;
            height: 0.25rem;
            background-color: green;
            margin: 2px 0 20px 0;
          }
    }

    &__item {
        background-color: white;
        padding: 1rem;
        display: flex;
        border-radius: 0.75rem;
        margin: 1rem 0;
        box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
        max-width: 100%;

        &__header {
            box-shadow: none;
            width: 80%;
            display: inline;
            line-height: 1.5rem;
        }

        &__title {
            font-style: bold;
            font-weight: 700;
            font-size: 1.1rem;
        }

        &__price {
            width: 20%;
            font-style: bold;
            font-weight: 500;
        }

        &__validation {
            visibility: collapse;
            width: 0px;
            display: flex;
            align-self: center;
        }
    }
}